* {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
}

a {
  text-decoration: none;
}

.header{
  padding: 20px;
}

.header img{
  width: 240px;
}

.header li{
  display: block;
  margin: 3px 0px;
}

.header li a{
  color: gray;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.banner{
  background-position: center;
  background-size: cover;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_burgerphoto.jpeg");
}

.banner h1{
  width:57%;
  color: white;
  background-color: #05A8AA;
  height: 280px;
  margin: 0px auto;
  padding: 25px;
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

.container{
  overflow: scroll;
  height: 750px;
  width: 100%;
}

.main{
  width: 90%;
  margin: 30px auto;
}

.main p{
  font-weight: 100;
  font-size: 20px;
  color: gray;
  letter-spacing: 1px;
  line-height: 31px;
  margin-bottom: 25px;
}

.order a{
  border: 1px solid #05A8AA;
  border-radius: 5px;
  padding: 15px 0px;
  margin-bottom: 65px;
  display: block;
  width: 250px;
  color: #05A8AA;
  text-transform: uppercase;
  font-size: 19px;
}

.order a:hover{
  background-color: #05A8AA; opacity:0.2;
  color: white;
}

.nurtri{
  margin: 40px 0px 70px 0px;
}

.nurtri li{
  display: inline-block;
  background-color: #05A8AA;
  color: white;
  width: 250px;
  padding: 6px 0px;
  margin: 5px 5px;
}

.nutritions{
  display: block;
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.calories{
  font-size: 29px;
  font-weight: 700;
}

footer{
  width: 100%;
  border-top: 1px solid #ddd;
  background-color: white;
  position: fixed;
  bottom: 0;
}

footer a{
  margin: 20px;
  display: inline-block;
  color: #05A8AA;
  text-transform: uppercase;
  font-weight: 100;
  background-color: white;
  padding: 3px;
}

.supporting{
  margin-bottom: 130px;
}

.col{
  display: inline-block;
  width: 200px;
  margin: 10px 10px;
}

.col img{
  height: 50px;
}
